<style type="text/css" title="dynamic-css" class="options-output">
    h1,
    h1 a,
    h1 span {
        font-family: "Roboto Slab";
        line-height: 40px;
        font-weight: 700;
        font-style: normal;
        color: #3f3d59;
        font-size: 38.5px;
    }
    h2,
    h2 a,
    h2 span {
        font-family: Montserrat;
        line-height: 40px;
        font-weight: 700;
        font-style: normal;
        color: #333333;
        font-size: 32px;
    }
    h3,
    h3 a,
    h3 span {
        font-family: Montserrat;
        line-height: 40px;
        font-weight: 700;
        font-style: normal;
        color: #33;
        font-size: 18px;
    }
    h4,
    h4 a,
    h4 span {
        font-family: Raleway;
        line-height: 40px;
        font-weight: 700;
        font-style: normal;
        color: #444;
        font-size: 18px;
    }
    h5,
    h5 a,
    h5 span {
        font-family: Roboto;
        line-height: 40px;
        font-weight: 300;
        font-style: normal;
        color: #484848;
        font-size: 14px;
    }
    h6,
    h6 a,
    h6 span {
        font-family: Roboto;
        line-height: 40px;
        font-weight: 300;
        font-style: normal;
        color: #484848;
        font-size: 11.9px;
    }
    .ad-detail-half-box .ad-detail-info,
    span.ad-page-price,
    html,
    body,
    div,
    applet,
    object,
    iframe p,
    blockquote,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        font-family: Lato;
        line-height: 24px;
        font-weight: Normal;
        font-style: normal;
        color: #555;
        font-size: 14px;
    }
    .ad-detail-info .description,
    .post-title a,
    .three-tabs li a {
        font-family: Raleway;
        line-height: 24px;
        font-weight: Normal;
        font-style: normal;
        color: #444;
        font-size: 14px;
    }
    #register-login-block-top ul li a,
    .header-pos-static .header-v5-login-register li a,
    .header-v5 .make-new-ad,
    .header-pos-static .header-v6-login-register li a,
    .header-v6 .make-new-ad,
    .header-v6 .register-btn,
    .header-v6 .make-new-ad a,
    .header-v6 .register-btn a,
    .header-v6-login-register.afterlogin li.first a,
    .header-v6-login-register.afterlogin li.last a,
    .post-title a,
    .ad-box .add-price span,
    #featured-abs .ad-hover-content .post-title a,
    #featured-abs .ad-box .add-price span,
    .post-title-cat .post-title a,
    .category-btn a,
    .cat-title h4,
    .more-btn-inner,
    .more-btn-inner a,
    #ads-homepage ul.tabs li a,
    .subscribe_email #wp-subscribe h4.title,
    .single-slider .single-ad-price,
    .single-description .description-title,
    .detail-cat a,
    .author-form h3,
    #uploadTrigger,
    #latitude-field input,
    #longitude-field input,
    .ad-post-main #edit-submit,
    #edit-profile #edit-submit,
    .marker-info-title a,
    .marker-info-price,
    .map-box-style-2 .marker-info-holder .add-price span,
    .map-box-style-2 .marker-info-title a,
    .map-box-style-2 .marker-info-left .feat-category,
    .map-box-style-3 .feat-category,
    .author-btn .button-ag,
    .search-bar-version2 .search-your-keyword-txt label,
    .search-bar-version3 #edit-submit-search-view span,
    .search-bar-version4 #edit-submit-search-view span,
    #featured-abs .ad-box .add-price span,
    .categories-homepage-vr-3 .category-title-v3 a h4,
    .categories-homepage-vr-3 .category-content-v3 ul li a,
    #ads-homepage.grid-vr-2 .feat-category,
    #ads-homepage.grid-vr-2 .ads-price-v2,
    .listing-ads-vr-3 .post-title-cat .post-title .list-post-price,
    #ads-homepage.grid-vr-3 .ad-box .add-price span,
    #ads-homepage.listing-ads-vr-2 .ad-box .add-price span,
    .plan-vr-3.single-plan #submit-plan,
    .location-version-3 .location-content a,
    .main_menu a,
    h4.block-title,
    .callout-inner h4,
    .callout-inner h4 span,
    .callout-inner p,
    .ad-title h2,
    .ad-title h2 a,
    .ad-title .ad-page-price aa.register-social-button-facebook,
    a.register-social-button-twitter,
    a.register-social-button-google,
    section#locations .location .span3 a,
    .my-ad-details a.my-ad-title,
    .my-ad-details span,
    .my-ad-details span a,
    .listing-ads .read-more-btn-inner a,
    .single-plan .product-title h3,
    .pro-price,
    .single-plan #submit-plan,
    .popular-title,
    .menu-v3 a,
    .log-forms #edit-submit,
    .log-forms input#edit-submit,
    .log-forms .register-page-title h5,
    .contact-meta .contact-single-meta h3,
    .page-template-template-profile-php .my-ad-box .post-title-my-ad a,
    .blog-date,
    .blog-month,
    .blog-title h2 a,
    .blog-title h2,
    .blog-btn,
    .blog-btn a,
    .blog-author-info .author-title h3,
    .related-post-title h3 a,
    .comments-header h3,
    .comment-author,
    .comment-title,
    .comment-reply a,
    .banner-text-one-h3-2,
    .banner-text-second-h2-2,
    .footer-menu #menu-footer li a,
    .footer-menu #menu-footer li a {
        font-family: Montserrat;
    }
    .controls input,
    .views-exposed-form .views-exposed-widget .btn-primary,
    #upload-ad .input-title input#postTitle,
    #upload-ad .input-title input#post_location,
    #edit-profile .input-title input.text,
    #edit-profile .input-title textarea.text,
    .subscribe_email #wp-subscribe p,
    .subscribe_email #wp-subscribe p.text,
    .subscribe_email #wp-subscribe input.email-field,
    .subscribe_email #wp-subscribe input.submit,
    .plan-vr-3.single-plan .plan-tag,
    input[type="submit"],
    .sticky li p,
    .banner-text-third-2 {
        font-family: Lato;
    }
</style>
<style type="text/css">
    .ad-title {
        background: url(wp-content/uploads/2016/05/page-title-background2.jpg) #f8f8f8;
    }
    #navbar .logo img {
        max-width: 40px;
    }
    h3,
    .detail-cat a,
    .text-up-line {
        color: #444444;
    }
    a,
    #navbar .main_menu .menu li.current_page_item .sub-menu a:hover,
    #navbar .main_menu .menu li.current_page_item .children a:hover,
    #navbar .main_menu .menu li.current-menu-item .children a:hover,
    .main_menu ul li ul.children li a:hover,
    .main_menu ul li ul.sub-menu li a:hover,
    .main_menu ul li ul.children li.current_page_item a,
    .main_menu ul li ul.children li.current-menu-item a,
    .main_menu .menu li.current_page_item .sub-menu a:hover,
    .main_menu .menu li.current-menu-item .sub-menu a:hover,
    .main_menu .menu li.current_page_item .children a:hover,
    .main_menu .menu li.current-menu-item .children a:hover,
    ul.custom-tabs li a.current,
    h4.trigger:hover,
    h4.trigger.active:hover,
    h4.trigger.active,
    #navbar .main_menu .menu li .sub-menu li.current_page_item a,
    #navbar .main_menu .menu li .children li.current_page_item a,
    #navbar .main_menu .menu li .children li.current_page_item a:hover,
    #navbar .main_menu .menu li .children li .current-menu-item a:hover,
    .callout-section-version-2 .callout .more-btn-inner a span {
        color: #666666;
    }
    .quicktabs-tabs .grid-feat-ad-style a:hover,
    .quicktabs-tabs .list-feat-ad-style a:hover,
    .quicktabs-tabs .grid-feat-ad-style a.current,
    .quicktabs-tabs .list-feat-ad-style a.current {
        background-color: #666666;
    }
    .woocommerce ul.products li.product a:hover img,
    .woocommerce-page ul.products li.product a:hover img,
    .woocommerce #content div.product div.images a:hover img,
    .woocommerce div.product div.images a:hover img,
    .woocommerce-page #content div.product div.images a:hover img,
    .woocommerce-page div.product div.images a:hover img {
        border: 5px solid #666666;
    }
    #contact-form #contactName:focus,
    #contact-form #author:focus,
    #contact-form #email:focus,
    #contact-form #url:focus,
    #contact-form #subject:focus,
    #contact-form #commentsText:focus,
    #contact-form #humanTest:focus {
        border: 1px solid #666666;
    }
    .my-ad-details span a:hover,
    .my-ad-details span.my-ad-a:hover i,
    .my-ad-details a.my-ad-title:hover,
    .my-ad-details span a:hover,
    .main_menu > ul > li.current-menu-item > a,
    body.category .custom-widget .cat-widget-content li:hover span,
    body.category .custom-widget .cat-widget-content ul li:hover a,
    .custom-cat-widget .custom-widget .cat-widget-content li:hover span,
    .custom-cat-widget .custom-widget .cat-widget-content ul li:hover a,
    .marker-info-price,
    .site-info a,
    .ads-tags a:hover,
    .category-content li:hover a,
    .categories-homepage-vr-2 .category-content ul li a.view-all,
    .category-content li:hover span,
    .geo-location-button .on .fa,
    .geo-location-button .fa:hover,
    footer .jw-twitter li a,
    .publish-ad-button.login-page p a,
    a:hover,
    a:active,
    .main_menu > ul > li:hover > a,
    .main_menu .menu li.current_page_item > a,
    .main_menu .menu li.current-menu-item > a,
    .main_menu ul li ul.children li:hover a,
    .main_menu ul li ul.sub-menu li:hover a,
    .text-bt-line,
    .plan-vr-3.single-plan #submit-plan,
    .color-default p:last-word,
    .plan-vr-3.single-plan #submit-plan,
    .menu-vr-5 a:active,
    .menu-vr-5 a:hover,
    .menu-vr-5 a:focusa {
        color: #e96969;
    }
    .cat-widget-content ul li .widget-ad-list-content a:hover,
    .input-submit:hover,
    #register-login-block-top ul li a:hover i,
    .header-v3 .login-register > a:hover i,
    #top-menu-block.header-v2 #register-login-block-top ul li a:hover,
    #top-menu-block.header-v2 #register-login-block-top ul li a:hover i,
    .top-social i:hover,
    .author-details a,
    .author-meta a,
    #ad-address span .fa,
    .single-share a i:hover,
    .ad-box:hover .post-title-cat a,
    .callout-desc p span,
    section#locations .location a:hover,
    section#locations .location a:hover i,
    .ad-title a:hover,
    .top-email,
    .custom-cat-widget .custom-widget .cat-widget-content ul li:hover i,
    footer .block-content .menu-footer-container ul li a:hover,
    #register-login-block-top li a:hover,
    body.category .custom-widget .cat-widget-content li:hover .category-icon-box i,
    .search-bar-version3 .geo-location-button .off .fa,
    #ads-homepage.grid-vr-3 ul.tabs li a:hover,
    #ads-homepage.grid-vr-3 ul.tabs li.active a,
    #ads-homepage.grid-vr-3 ul.tabs li:hover a,
    #ads-homepage.listing-ads-vr-2 ul.tabs li a:hover,
    #ads-homepage.listing-ads-vr-2 ul.tabs li.active a,
    #ads-homepage.grid-vr-3 .view-types li.activate a i,
    #ads-homepage.grid-vr-3 .post-title-cat .post-title a.feat-category,
    .categories-homepage-vr-3 .category-title-v3 a h4:hover,
    .section-header-style-2 .main-title-bottom-icon i,
    footer .block-title,
    .search-bar-version2 .geo-location-button .on .fa,
    .site-info a,
    .header-v4 .header-contact-info .header-top-call .contact-text .text-bt-line,
    .header-v4 .header-contact-info .header-top-email .contact-text .text-bt-line,
    .categories-homepage-vr-2 .category-content ul li a.view-all,
    .categories-homepage-vr-2 .category-content ul li a:hover,
    .header-v5 .main_menu a:hover,
    .search-bar-version3 #advanced-search-widget-version2 .views-exposed-widget .btn-primary:hover,
    .search-bar-version3 #advanced-search-widget-version2 .views-exposed-widget .btn-primary:hover i,
    .menu-vr-5 li a:active,
    .menu-vr-5 li a:hover,
    .menu-vr-5 li a:focus,
    #ads-homepage.listing-ads-vr-2 .view-types li.activate a i,
    .comments-header h3,
    .comment-reply a:hover,
    .single-description p a:hover,
    footer .jw-twitter ul li span a,
    .menu-vr-6.main_menu .menu li > a:hover,
    .menu-vr-6.main_menu ul li:hover > a,
    .banner-cat-list li a span,
    .banner-cat-list li a span i,
    .menu-vr-6.main_menu .menu li.current-menu-item > a,
    .menu-vr-5.main_menu .menu li.current_page_item > a {
        color: #e96969 !important;
    }
    .page-template-template-profile-php .my-ad-box .my-ad-a:hover,
    .menu-v4,
    .header-top-bar,
    .header-v4 .header-contact-info .icon-head i,
    .widget-social a i:hover,
    .popular-title,
    .single-plan #submit-plan:hover,
    .plan-vr-3.single-plan.span4:hover #submit-plan,
    .plans .plan-vr-3.single-plan.span4:nth-child(2) #submit-plan,
    #ads-homepage ul.tabs li a:hover,
    #ads-homepage ul.tabs li.active a,
    #ads-homepage ul.tabs li a.current,
    .category-box:hover .category-btn,
    .ad-box .add-price,
    .featured-slider-2 .ad-box .add-price span,
    #ads-homepage.grid-vr-3 .ad-box .add-price span,
    .ui-slider-horizontal .ui-slider-handle,
    .ui-slider-horizontal .ui-slider-range-min,
    .search-your-keyword-txt label,
    .search-bar-version2 #advanced-search-widget-version2 .views-exposed-widget .btn-primary,
    .listing-ads .read-more-btn-inner:hover,
    .callout .view-more-btn:hover .more-btn-inner,
    #contact-ad-owner .close,
    .backtop:hover,
    .author-profile-ad-details .button-ag:hover,
    h4.trigger.active,
    .login-title,
    .single-slider .single-ad-price,
    .bottom-social-icons i:hover,
    .detail-cat .category-icon .category-icon-box,
    .view-more-btn:hover .more-btn-inner,
    .h2-seprator,
    .h3-seprator,
    .h3-seprator-sidebar,
    .tagcloud a:hover,
    .pagination span.current,
    .pagination a:hover,
    #advanced-search-widget-version2 .views-exposed-widget .btn-primary:hover,
    .search-bar-version3 #advanced-search-widget-version2 .views-exposed-widget .btn-primary,
    .top-social-icons a:hover,
    .search-bar-version3 .geo-location-button .on .fa,
    #ads-homepage.grid-vr-2 .view-types li.activate a i,
    .price-pro-cont,
    .location-version-2 .span3 a i,
    #uploadTrigger.imagesbutton:hover,
    .hvr-underline-from-center:before,
    .sticky li i,
    #ads-homepage .view-types li.activate a i,
    .bog-date-box,
    .map-box-style-2 .marker-info-holder .add-price span,
    .search-bar-version4 #advanced-search-widget-version2 .views-exposed-widget .btn-primary,
    .subscribe_email #wp-subscribe input.submit,
    footer .wpcf7-form p .wpcf7-submit,
    .plan-vr-3.single-plan:hover #submit-plan {
        background-color: #e96969 !important;
    }
    .log-forms input#edit-submit:hover,
    .page-template-template-contact-php .input-submit:hover,
    .listing-ads .read-more-btn-inner:hover,
    #edit-submit:hover,
    .log-forms #edit-submit:hover,
    .menu-v3 ul li ul.children,
    .menu-v3 ul li ul.sub-menu,
    .menu-v3 li:hover a,
    .menu-v4 ul li ul.children,
    .menu-v4 ul li ul.sub-menu,
    .author-btn .button-ag:hover,
    .ad-title .ad-page-price a,
    section#locations .location .span3:hover,
    .main_menu > ul > li.current-menu-item > a,
    blockquote,
    .main_menu ul li ul.children li:first-child,
    .main_menu ul li ul.sub-menu li:first-child,
    .tagcloud a:hover,
    .main_menu > ul > li > a:hover,
    #register-login-block-top .login a:hover,
    .pagination span.current,
    .pagination a:hover,
    #carousel-prev:hover,
    #carousel-next:hover,
    #advanced-search-widget-version2 .views-exposed-widget .btn-primary:hover,
    .plan-vr-3.single-plan #submit-plan,
    .partners-logo-style-2#partners .partner-logo:hover,
    .backtop.backtop-effect-2 a:hover,
    .callout .view-more-btn:hover .more-btn-inner,
    .comments-header h3,
    .subscribe_email #wp-subscribe input.submit,
    footer .wpcf7-form p .wpcf7-submit {
        border-color: #e96969 !important;
    }
    .pacman {
        border-top-color: #e96969 !important;
    }
    .pacman {
        border-bottom-color: #e96969 !important;
    }
    .pacman {
        border-left-color: #e96969 !important;
    }
    #ads-homepage.listing-ads-vr-2 .ad-box .add-price span {
        background-color: #e96969 !important;
    }
    .marker-info-link a,
    #new-post a.btn,
    input[type='submit'],
    .woocommerce span.onsale,
    .woocommerce-page span.onsale,
    .products li a.button,
    .woocommerce div.product form.cart .button,
    .woocommerce-page div.product form.cart .button,
    .woocommerce #content div.product form.cart .button,
    .woocommerce-page #content div.product form.cart .button,
    .woocommerce button.button,
    .woocommerce-page button.button,
    .woocommerce input.button,
    .woocommerce-page input.button,
    .woocommerce #respond input#submit,
    .woocommerce-page #respond input#submit,
    .woocommerce #content input.button,
    .woocommerce-page #content input.button,
    #top-cart .button,
    form.cart .button-alt,
    .woocommerce #content input.button,
    .woocommerce #respond input#submit,
    .woocommerce a.button,
    .woocommerce button.button,
    .woocommerce input.button,
    .woocommerce-page #content input.button,
    .woocommerce-page #respond input#submit,
    .woocommerce-page a.button,
    .woocommerce-page button.button,
    .woocommerce-page input.button,
    .bbp-submit-wrapper button.button,
    .woocommerce .quantity .minus,
    .woocommerce-page .quantity .minus,
    .woocommerce #content .quantity .minus,
    .woocommerce-page #content .quantity .minus,
    .woocommerce .quantity .plus,
    .woocommerce-page .quantity .plus,
    .woocommerce #content .quantity .plus,
    .woocommerce-page #content .quantity .plus,
    form.cart .plus,
    form.cart .minus,
    .product-quantity .plus,
    .product-quantity .minus,
    .woocommerce .quantity input.qty,
    .woocommerce-page .quantity input.qty,
    .woocommerce #content .quantity input.qty,
    .woocommerce-page #content .quantity input.qty,
    form.cart input.qty,
    form.cart input.qty,
    .product-quantity input.qty,
    .pricing-plans a.btn,
    #edit-submit,
    #navbar .btn-navbar {
        background: #f8f8f8!important;
    }
    .woocommerce ul.products li.product .price,
    .woocommerce-page ul.products li.product .price {
        color: #f8f8f8;
    }
    .ads-tags a:hosver {
        background: #ecf0f1!important;
        color: #f8f8f8!important;
    }
    .marker-info-link a:hover,
    #new-post a.btn:hover,
    input[type='submit']:hover,
    .products li a.button:hover,
    .woocommerce div.product form.cart .button:hover,
    .woocommerce-page div.product form.cart .button:hover,
    .woocommerce #content div.product form.cart .button:hover,
    .woocommerce-page #content div.product form.cart .button:hover,
    .woocommerce button.button:hover,
    .woocommerce-page button.button:hover,
    .woocommerce input.button:hover,
    .woocommerce-page input.button:hover,
    .woocommerce #respond input#submit:hover,
    .woocommerce-page #respond input#submit:hover,
    .woocommerce #content input.button:hover,
    .woocommerce-page #content input.button:hover,
    #top-cart .button:hover,
    form.cart .button-alt:hover,
    .woocommerce #content input.button:hover,
    .woocommerce #respond input#submit:hover,
    .woocommerce a.button:hover,
    .woocommerce button.button:hover,
    .woocommerce input.button:hover,
    .woocommerce-page #content input.button:hover,
    .woocommerce-page #respond input#submit:hover,
    .woocommerce-page a.button:hover,
    .woocommerce-page button.button:hover,
    .woocommerce-page input.button:hover,
    .bbp-submit-wrapper button.button:hover,
    .woocommerce .quantity .minus:hover,
    .woocommerce-page .quantity .minus:hover,
    .woocommerce #content .quantity .minus:hover,
    .woocommerce-page #content .quantity .minus:hover,
    .woocommerce .quantity .plus:hover,
    .woocommerce-page .quantity .plus:hover,
    .woocommerce #content .quantity .plus:hover,
    .woocommerce-page #content .quantity .plus:hover,
    form.cart .plus:hover,
    form.cart .minus:hover,
    .product-quantity .plus:hover,
    .product-quantity .minus:hover,
    .pricing-plans a.btn:hover,
    #edit-submit:hover,
    #navbar .btn-navbar:hover {
        background: #e96969!important;
    }
    .footer-menu #menu-footer li a {
        color: #333333;
    }
    .plan-vr-3.single-plan #submit-plan {
        color: #e96969;
    }
    .plans .plan-vr-3.single-plan.span4:nth-child(2) #submit-plan {
        color: #fff;
    }
    .more-btn-inner:hover {
        border: 1px solid #e96969;
    }
    .callout .more-btn-inner {
        border: 1px solid #e96969 !important;
        background-color: #e96969 !important;
    }
    .blog-btn:hover {
        background-color: #e96969;
        box-shadow: 0px 3px 0px 0px #e96969;
        border-color: #e96969 !important;
    }
    .bottom-social-icons a .fa:hover {
        color: #fff !important;
    }
    .selectOption-box select,
    .form-s-select .chosen-container-single .chosen-single,
    .form-s-select .chosen-container {
        border-radius: 60px !important;
    }
    #add-btn,
    #ads-homepage.grid-vr-2 ul.tabs li,
    #ads-homepage.grid-vr-2 ul.tabs li a {
        border-radius: 60px;
    }
    .form-control {
        border-radius: 60px;
    }
    .make-new-ad {
        background-color: #7bab47 !important;
        border-color: #7bab47 !important;
    }
    .make-new-ad:hover,
    .header-v6-login-register .register-btn:hover {
        background-color: #333333 !important;
        border-color: #333333 !important;
    }
    .make-new-ad a,
    .make-new-ad i {
        color: #ffffff !important;
    }
    .make-new-ad:hover a,
    .make-new-ad:hover i {
        color: #ffffff !important;
    }
    footer .footer-grid-3 .block-content div,
    .jw-recent-list-posts-widget .widget-ad-list-content .widget-ad-list-content-title a {
        color: #333333 !important;
    }
    .bottom-social-icons a .fa:hover,
    footer .jw-twitter ul li span {
        color: #333333 !important;
    }
    footer.footer-style-4 .jw-twitter .category-icon-box i {
        color: #e96969 !important;
    }
    footer.footer-style-4 .jw-twitter ul li {
        border-bottom: 1px solid #eeeeee;
    }
    footer.footer-style-4 .footer-social-widget {
        border-top: 1px solid #eeeeee;
    }
    footer.footer-style-4 .wpcf7-form input,
    footer.footer-style-4 .wpcf7-form textarea,
    footer.footer-style-4 .wpcf7-form .uneditable-input {
        background-color: #FFFFFF;
        color: #cccccc !important;
        border: 1px solid #eee !important;
        width: 100%;
    }
    footer.footer-style-4 .wpcf7-form p .wpcf7-submit {
        color: #fff !important;
    }
    .static-image {
        background-color: #fff;
        background-image: url("");
        background-repeat: ;
        background-position: ;
        background-size: ;
        background-attachment: ;
    }
    .banner-text-one {
        text-align: ;
    }
    .banner-text-one-h3 {
        background-color: #ffffff;
        color: #dd9933;
        font-weight: Normal;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        line-height: ;
        letter-spacing: ;
        padding-top: 1px;
        padding-bottom: 3px;
        padding-left: 4px;
        padding-right: 2px;
    }
    .banner-text-second {
        text-align: ;
        margin-top: 18px;
    }
    .banner-text-second-h2 {
        background-color: #ffffff;
        color: #dd9933;
        font-weight: Normal;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        line-height: ;
        letter-spacing: ;
        padding-top: 1px;
        padding-bottom: 3px;
        padding-left: 4px;
        padding-right: 2px;
    }
    .banner-text-third {
        text-align: ;
    }
    .banner-text-third-h3 {
        background-color: #ffffff;
        color: #dd9933;
        font-weight: Normal;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        line-height: ;
        letter-spacing: ;
        padding-top: 1px;
        padding-bottom: 3px;
        padding-left: 4px;
        padding-right: 2px;
    }
    .static-image-2 {
        background-color: #fff;
        background-image: url("");
        background-repeat: ;
        background-position: ;
        background-size: ;
        background-attachment: ;
    }
    #header {
        margin: 0 auto;
    }
	.pointer:hover{
		cursor:pointer;
		background: cadetblue;
	}
	.title-span{
		background: #17adcb;
		text-align: center !important;
		border-radius: 50%;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		float: left;
		display: inline;
		text-align: center;
		margin-right: 10px;
	}
	.edit-ad{
		padding-right:13px !important;
	}
	.edit-ad,.delete-ad{
		cursor:pointer;
	}
	.author-cc>i{
		cursor:pointer;
	}
	.edit-phone, .icon-cat{
		width: 20px!important;
		height: 20px!important;
		line-height: 18px!important;
		background: white!important;
		color: black!important;
		margin-left: 8px!important;
		cursor: pointer!important;
	}
	.icon-cat:hover{
		font-weight:bolder;
	}
	.delete-ad{
		float: right !important;
		padding-right: 0px !important;
		font-size: 20px !important;
		color: red !important;
	}
	.my-ad-a{
		float:right;
	}
	.edit-category-box,.edit-subcategory-box{
		width:60%;
		display:none
	}
	.category-text:hover{
		font-weight:bolder;
		cursor:pointer;
	}
	.add-category,.add-subcategory{
		float:right;
		width: 106px;
		height: 42px;
		font-size: 14px;
		text-align: center;
		border-radius: 60px;
		color: #ffffff !important;
		background-color: #7bab47 !important;
    	border-color: #7bab47 !important;
	}
	.new-category,.new-subcategory{
		display:none;
		width:98%;
	}
	.close-new-cat,.close-new-subcat{
		display: none;
    	margin-left: -40px;
		cursor:pointer;
	}
	.close-new-cat:hover{
		font-weight:bolder;
	}
	.add-cat-error,.add-subcat-error{
		color:red;
		margin-left:10px;
		/*display:none;*/
	}
	.back-btn{
		margin-top: -40px;
		float:right;
		background: red;
		color: white;
		border-radius: 20px;
		width: 56px;
		text-align: center;
	}
	.back-btn:hover{
		font-weight:bolder;
		cursor:pointer;
		border-color:white;
		border:solid 1px;
	}
	.delete-ad-grid{
		margin-top: 8px;
		display: inline-block;
		float: right;
		color: red;
		cursor: pointer;
	}
	.category-content{
		height: 200px !important;
    	overflow-x: hidden !important;
	}
	.category-content:hover{
		
	}
	::-webkit-scrollbar {
		width: 4px;
	}
	
		/* Track */
	::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
		-webkit-border-radius: 10px;
		border-radius: 10px;
	}
	
	/* Handle */
	::-webkit-scrollbar-thumb {
		-webkit-border-radius: 10px;
		border-radius: 10px;
		background: rgb(255, 255, 255);
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
	}
	::-webkit-scrollbar-thumb:window-inactive {
		background: rgba(255,0,0,0.4); 
	}
</style>

<style type="text/css">
	 img.wp-smiley,
	 img.emoji {
	 display: inline !important;
	 border: none !important;
	 box-shadow: none !important;
	 height: 1em !important;
	 width: 1em !important;
	 margin: 0 .07em !important;
	 vertical-align: -0.1em !important;
	 background: none !important;
	 padding: 0 !important;
	 }
  </style>