input:invalid::-webkit-calendar-picker-indicator {
  display: none;
}

.errspan-upload {
	max-width: 80px;
    display: none;
    float: right;
    margin-right: 355px;
    margin-top: -57px;
    position: relative;
    z-index: 2;
    /* color: #17AEAF; */
    font-size: 15px;
}
div#fixedheader {
	max-height: 50px;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background: linear-gradient(#1C3B5A, #1C3B5A);
}
div#fixedfooter {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#333;
	padding:8px;
}
div#headertext{
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
    font-size: 20px;
    padding: 10px;
    color: #fff;
    display: block;
    font-weight: bold;
}
.footer{
	text-transform: uppercase;
	color: #807D7D;
    font-size: 13px;
	box-sizing: border-box;
	font-family: 'PT Sans', sans-serif;
}
.home-logo:hover{
	border:2px solid green;
}

.sender_message{
	padding-left:50%
}
.receiver_message{
	padding-right: 50%;
}
.message_dec_sender{
	border: solid 1px;
	color:white;
    border-color: aliceblue;
    border-radius: 15px;
    background-color: #4080ff;
}
.message_dec_receiver{
	border: solid 1px;
    border-color: aliceblue;
    border-radius: 15px;
    background-color: antiquewhite;
}