@charset "utf-8";
/* CSS Document */
.rew{
	border-radius: 2px;
    background: #787878 ;
    padding: 15px; 
    width:50px;
    height:50px; 
	position:relative;
    display:inline-block;
    overflow:hidden;
}

.rew img{
	 position:absolute;
    top:50%;
    min-height:100%;
    display:block;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    min-width:100%;
}

.like{
	display:inline-block;
}
.csr, .rew{
	cursor: pointer;
	font:Calibri; 
	font-size:12px;
}
/****** Rating Starts *****/
@import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
/* body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }*/

.rating { 
	border: none;
	float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
	margin: 5px;
	font-size: 2.25em;
	font-family: FontAwesome;
	display: inline-block;
	content: "\f005";
}

.rating > .half:before { 
	content: "\f089";
	position: absolute;
}

.rating > label { 
	color: #ddd; 
	float: right; 
}

.rating > input:checked ~ label, 
.rating:not(:checked) > label:hover,  
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  }

.rating > input:checked + label:hover, 
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, 
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }     


/* Downloaded from http://devzone.co.in/ */
#cmntcontainer{
    position: fixed;
    top: 25%;
    left: 50%;
    margin-top: -50px;
    margin-left: -250px;
    background-color:#adad85;
	overflow-y: scroll;
	 max-width:600px;
    max-height:400px;
}​

.header, .footer {
    height: 40px;
    padding: 5px;
}


.footer {
    background-color: whiteSmoke;
    -webkit-border-bottom-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-bottomleft:5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
}
#loading {
	position: fixed;
    top: 25%;
    left: 50%;
    margin-top: -50px;
    margin-left: -250px;
}
.errspan {
    float: right;
    margin-right: 10px;
    margin-top: -30px;
    position: relative;
    z-index: 2;
    color: #50813c;
	font-size:20px;
}
.errspan-upload {
	display:none;
    float: right;
    margin-right: 3px;
    margin-top: -98px;
    position: relative;
    z-index: 2;
    color: #A96F25;
	font-size:15px;
}
.overlay {
    background-color: rgba(1, 1, 1, 0.7);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}
.odo{
	background-image:url(../img/audio.jpg);
}
.panel,.flip
{

 	/*font-family: Georgia;*/
	/*background-color:#C0C0C0;*/
	border:solid 1px #C0C0C0;
}
.panel{
	margin-bottom:3px;
	padding:10px;
	display:none;
}
.comment-username{
	margin-top:5px;
	margin-bottom:5px;
	margin-left:4px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	color:#06F;
}
.comment{
	margin-top:5px;
	margin-bottom:5px;
	background-color:#FFDD8F;
	position:relative;
}

.logout-wrapper{
	float: right;
	margin-right:3px;
	margin-top:5px;
}
#upload-progress{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}
/*video { 
   /*width:305px; 
   height:160px; 
   background:transparent url('../img/play.png') no-repeat 0 0; 
   -webkit-background-size:cover; 
   -moz-background-size:cover; 
   -o-background-size:cover; 
   background-size:cover; 
}*/

.game-update-loading{
    width:100%;
    height:100%;
    position:fixed;
    top:30%;
    left:45%;
    display:none;
}
/*.title-wrapper{
	text-align:center;
	height:35px;
	background:#fff;
	box-shadow: 0 0 0 1px #eee;
	padding:5px;
	font-weight: 700;
    font-family: 'Open Sans';
	color: #333;
}
.advertisement-form-wrapper{
	background:#fff;
	box-shadow: 0 0 0 1px #eee;
	padding:5px;
	font-weight: 700;
    font-family: 'Open Sans';
	color: #333;
	text-align:center;
}*/
.profile-pic{
	background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
#overlay {
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}​